@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');
body {
  overflow: hidden;
  margin: 0px;
}
* {
  font-family: 'Orbitron', sans-serif;
  z-index: 1;
}
:root {
  --neon-main: hsla(100, 100%, 40%, 0.9);
}
.loading {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 10;
  font-weight: 800;
}
.loading div {
  color: var(--neon-main);
  letter-spacing: 3px;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  box-shadow: 4px 4px 2px 2px var(--neon-main),
    -2px -2px 2px 2px var(--neon-main), inset 4px 4px 2px hsl(328, 50%, 50%),
    inset -1px -1px 1px 3px skyblue;
  border: 5px black dotted;
  border-radius: 0.5px;
  font-weight: 400;
}
.loadingRoll {
  position: relative;
  background-color: #000;
  padding: 15px 30px;
  color: var(--neon-main);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  border: 0;
  cursor: pointer;
  z-index: 11;
  cursor: progress;
}
.loadingRoll::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  left: 0;
  top: 50px;
  background-color: gray;
  border-radius: 2px;
  z-index: 12;
}
.loadingRoll::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 15px;
  left: 0;
  top: 50px;
  border-radius: 2px;
  background-color: var(--neon-main);
  animation: loadingRollAnime 1s infinite linear;
  z-index: 13;
}
@keyframes loadingRollAnime {
  from {
    left: calc(0% + 15px);
  }
  to {
    left: calc(100% - 15px);
  }
}

.loading li {
  list-style: linear-gradient(135deg, green, white, red) lower-latin;
}
a {
  color: skyblue;
  text-decoration: none;
}
button {
  position: relative;
  background-color: #000;
  display: inline-block;
  padding: 15px 30px;
  color: var(--neon-main);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  border: 0;
  cursor: pointer;
}

button:hover {
  color: #333;
  background: var(--neon-main);
  box-shadow: 0 0 10px var(--neon-main), 0 0 40px var(--neon-main),
    0 0 80px var(--neon-main);
  transition-delay: 1s;
}

button span {
  position: absolute;
  display: block;
}

button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--neon-main));
}

button:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--neon-main));
}

button:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--neon-main));
}

button:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--neon-main));
}

button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.glitches {
  z-index: 11;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  font-size: small;
  border: 1px dotted yellow;
  letter-spacing: 2px;
  animation: glitches 3s infinite ease-in-out;
  -moz-animation: glitches 3s infinite ease-in-out;
  -webkit-animation: glitches 3s infinite ease-in-out;
  border-radius: 10px;
  background-color: #000;
  display: inline-block;
  padding: 15px 30px;
  color: var(--neon-main);
  cursor: pointer;
}
.hide {
  display: none;
}
@keyframes glitches {
  from {
    border: 2px outset yellow;
  }
  to {
    border: 2px inset yellow;
  }
}

@media only screen and (max-width: 600px) {
  .loading,
  .loading div {
    font-size: 10px;
    line-height: 20px;
  }
  .loading div {
    padding: 10px;
    width: 300px;
  }
  .glitches {
    font-size: 10px;
  }
}
